@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Reset de base */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Corps de page générique */
html,
body {
  height: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.topBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background: url("assets/images/background-pattern-desktop.svg") no-repeat
    center top;
  background-size: cover;
  z-index: -1;
}

body {
  font-family: "work sans", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5e9ff;
  position: relative;
}

.main {
  width: 100%;
  max-width: 600px;
  padding: 1.5rem;
}

.cardFaq {
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}
